@page "/"

<h1>State View</h1>

- Go to <a href="state/stateName">state/{<i style="@GetStyle(@"stateName")">stateName</i>}</a> to add, update, or remove a state.
<br/>
- Go to <a href="statePageString">statePageString</a> to view all string-states.